.advert {
    border: solid 1px lightgray;
    background-color: rgb(201, 226, 190);
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 10px;
}

.advert .adv-title {
    display: flex;
    justify-content:space-between;   
    align-items: center;
    font-size: large;
    
   
}

.advert img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border-color: black;
    border-style:groove;
}



/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; 
    color: white;
    margin-bottom: 15px;
  }

  .alert-ok {
    padding: 20px;
    background-color: rgb(201, 226, 190); 
    color: white;
    margin-bottom: 15px;
  }  
  
  .alert-gray {
    padding: 20px;
    background-color: rgb(53, 53, 52); 
    color: white;
    margin-bottom: 15px;
  }  
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }